* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  padding: 2rem;
  font-family: "Rubik", sans-serif;

background-color: #000000;
background-image: url("paper.jpg");
background-attachment: fixed;
background-size: cover;
  background-position: center;

  color: #181d25;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

img {
  margin-bottom: 2.5rem;
  border: 3px solid #f6f6f6;
  box-shadow: 0px 16px 40px rgba(63, 191, 191, 0.8);
}

header {
  margin-bottom: 3rem;
  text-align: center;
}

header p {
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  color: #ffffff;
}

header p1 {
  margin-bottom: 0.25rem;
  color: #ffffff;
}

header h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 85%;
  color: #ffffff;
}

nav {
  width: 100%;
  display: block;
  max-width: 380px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;

  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  color: #fff;

  box-shadow: 0px 0.5rem 1.5rem -0.25rem var(--link-color);
  background-color: var(--link-color);

  transition: box-shadow 0.5s;
}

a:hover {
  box-shadow: 0px 0.5rem 1.5rem 0rem var(--link-color);
}

i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

#linkedin {
  --link-color: #0e76a8;
}

#github {
  --link-color: #24292e;
}

#instagram {
  --link-color: #075e54;
}

#portfolio {
  --link-color: #673ab7;
}

#blog {
  --link-color: #673ab7;
}


.blink-bg{
	color: #fff;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground{
	0%		{ background-color: #10c018;}
	25%		{ background-color: #1056c0;}
	50%		{ background-color: #ef0a1a;}
	75%		{ background-color: #254878;}
	100%	{ background-color: #04a1d5;}